<html>
<head>
	<title>Authentication</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
</head>
<body>
	<div style="height:200px; width:400px; background-color:red">
		<div>Access Token: {{access_token}} <br/> Expires in: {{expires_in}}</div></div>
	<div id="access_token">{{access_token}}</div>
	<div id="response_div"></div>
</body>
</html>