<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>

	<!-- stylesheets -->
	<link rel="stylesheet" href="/stylesheet/ooma.css">
</head>
<body>
	<div>
		CONTENT!
	</div>
	<!-- scripts -->
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/jquery-cookie/jquery.cookie.js"></script>
	<script src="/bower_components/firebase/firebase.js"></script>
	<script src="STUB"></script>
</body>
		